body {
    background: url(sky.jpg) center no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.planet{
    width: 20em;
    height: 20em;
    background: url(planet.png);
    box-shadow: inset -2em -2em 1em #000,
        -0.5em -0.5em 1em #f0d08b;
    position: relative;
    animation: rotate 10s linear infinite;
}
.moon {
    background: url(moon.png);
    box-shadow: inset -1.5em 1.5em  1.5em #000, 
        -0.2em -0.2em 0.5em #ccc;
    width: 6em;
    height: 6em;
    position: absolute;
    left: -11em;
    top: 50%;
    transform: translateY(-50%);
    animation: rotate 5s linear infinite,
        orbit 20s infinite ease-in-out;
    z-index: 1;
}
.planet,.moon{
    border-radius: 50%;
    background-repeat: repeat;
    background-size: 200% 100%;
}
@keyframes rorate{
    to{
        background-position: -200% 0;
    }
}
 @keyframes orbit{
     49%{
         z-index: 1;
     }
     50%{
         left: 25em;
         z-index: -1;
     }
     99%{
         z-index: -1;
     }
     100%{
         left: -11em;
         z-index: 1;
     }
 }